<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="notice.ZPM">
    <Module>
      <Name>notice</Name>
      <Version>1.1.0</Version>
      <Description>InterSystems IRIS for Health application to send notifications to subscribers</Description>
      <Keywords>notice iris healthconnect ibsp</Keywords>
      <Author>
        <Person>InterSystems Iberia</Person>
        <Organization>InterSystems</Organization>
        <CopyrightDate>2021</CopyrightDate>
        <License>MIT</License>
      </Author>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
      <Resource Name="IBSP.PKG"/>
    </Module>
  </Document>
</Export>